[submodule "dots/fcitx5/fcitx5-material-themes"]
	path = dots/fcitx5/fcitx5-material-themes
	url = https://github.com/hosxy/Fcitx5-Material-Color
[submodule "dots/alacritty/alacritty-theme"]
	path = dots/alacritty/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme
[submodule "rabbit-hole"]
	path = rabbit-hole
	url = ./../nixos-secrets
